body {
    background-color: #121212;
    font-family: 'Arial', sans-serif;
}

.gallery-container {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 15px;
    width: 430px;
    margin-top: 20px;
    height: 370px;
    color: #fff;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);

}

.gallery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.gallery-title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

.add-image-btn {
    background-color: #323232;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.add-image-btn::before {
    content: '+';
    font-weight: bold;
}

.add-image-btn:hover {
    background-color: #4a4a4a;
    transform: translateY(-3px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.add-image-btn:active {
    transform: translateY(0);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.gallery-images {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.gallery-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.gallery-image:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

.gallery-navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-btn {
    background-color: #323232;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.nav-btn:hover {
    background-color: #4a4a4a;
    transform: translateY(-3px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.nav-btn:active {
    transform: translateY(0);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}